h1 {
    width: 14rem;
    height: 60px;
    margin-bottom: 2rem;
    margin-top: 0px;
    position: relative;
    font-size: 3rem;
    color: #F9F3F3;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/static/images/member/loginBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#searchBox {
    position: relative;
    width: 19rem;
    height: 18rem;
    background-color: #424141;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px;
}

#guide {
    padding: 0px 5px 5px 10px;
    margin-top: 1ch;
    margin-bottom: 2px;
    color: #FBC70E;
    font-size: 1.4ch;
    font-weight: bold;
    width: 240px;
    height: 40px;
    cursor: unset;
}

#guideBox{
    width: 240px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginBox {
    margin-top: 80px;
}

.showId {
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    color: white;
}


.loginBtn{
    width: 240px;
    height: 40px;
    background-color: #FBC70E;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 6rem;
}
.loginBtn:focus {
    border:none;
    outline: none;
}

.pwSearchBtn {
    width: 240px;
    height: 40px;
    background-color: #FBC70E;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 1.5ch;
}
.pwSearchBtn:focus {
    border:none;
    outline: none;
}
