.content {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/static/images/member/loginBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#searchBox {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
    box-sizing: border-box; /* Include padding in the width */
}

#searchBox h2 {
    color: #fff;
    margin-bottom: 20px;
}

.showBox {
    font-weight: bold;
    background-color: #3E3E3E;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}

.showBox h5 {
    margin: 0; /* Remove any margin */
    color: #fff;
}

.loginBox, .pwSearchBox {
    width: 100%;
}

.loginBtn, .pwSearchBtn {
    font-weight: bold;
    background-color: #FBC70E;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box; /* Include padding in the width */
}
