.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(/static/images/member/loginBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    width: auto;
    height: 4.75rem;
    margin-bottom: 1.875rem;
    margin-top: 0px;
    position: relative;
    font-size: 3rem;
    color: #F9F3F3;
    text-shadow: -0.0625rem 0.125rem black, -0.125rem 0.125rem black, 0px 0.125rem black, 0px -0.0625rem black; /* -1px 2px, -2px 2px, 0px 2px, 0px -1px */
    font-family: 'Poppins'; /* 폰트 추가 */
}

.helpBox {
    position: relative;
    width: 43rem;
    height: 5rem;
    margin-bottom: 1.875rem;
    background-color: #424141;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0.25rem 0.25rem 0px;
    transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
    cursor: pointer;
    box-sizing: border-box; /* 박스 크기 계산을 보더와 패딩을 포함하도록 설정 */
    overflow: hidden; /* 내용이 잘리지 않도록 설정 */
    padding: 10px; /* 박스 확장 시 여유 공간 확보 */
    backface-visibility: hidden; /* 애니메이션 동안 내용 흐림 방지 */
    will-change: transform; /* 애니메이션 성능 최적화 */
}

.helpBox:hover {
    transform: scale(1.05); /* 마우스 오버 시 박스가 커지게 설정 */
}

.box-content {
    display: flex;
    align-items: center; /* 상하 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    color: #F9F3F3;
    padding-left: 0.625rem;
    width: 70%; /* box-content가 전체 너비를 차지하도록 설정 */
}

.box-content > span {
    display: inline-flex;
    font-size: 1.5rem;
    color: white;
    font-family: 'Poppins';
}

.help-logo1, .help-logo2, .help-logo3 {
    height: 1.875rem;
    margin-right: 1.25rem;
    width: auto;
}
