<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommunityDao">

    <insert id="write" parameterType="community">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT IFNULL(MAX(ID), 1) FROM COMMUNITY
        </selectKey>

        INSERT INTO COMMUNITY(
            TITLE,
            CONTENT,
            WRITER_ID
        ) VALUES(
            #{title},
            #{content},
                (
                    SELECT U.ID
                    FROM USER U
                    WHERE U.USER_ID = #{nickname}
                )
        )
    </insert>

    <update id="modify" parameterType="community">
        UPDATE COMMUNITY
        SET
            TITLE = #{title},
            CONTENT = #{content},
            MODDATE = #{moddate}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM COMMUNITY
        WHERE ID = #{id}
    </delete>

    <update id="updateCnt" parameterType="int">
        UPDATE COMMUNITY
        SET
            CNT = CNT + 1
        WHERE ID = #{id}
    </update>

    <select id="getCommunityList" parameterType="map" resultType="community">
        SELECT C.ID
        , C.TITLE
        , C.CONTENT
        , C.WRITER_ID
        , M.NICKNAME
        , C.REGDATE
        , C.CNT
        FROM COMMUNITY C
        JOIN MEMBER M
        ON F.WRITER_ID = M.ID
        -- mybatis의 동적 쿼리 사용
        WHERE 1=1
        <if test="search.searchKeyword != null and search.searchKeyword != ''">
            <if test="search.searchCondition == 'all'">
                AND (C.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
                OR C.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
                OR M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%'))
            </if>
            <if test="search.searchCondition == 'title'">
                AND C.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'content'">
                AND C.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'writer'">
                AND M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
        </if>
        ORDER BY C.ID DESC
        LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

</mapper>