<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPageDao">

<!--    기존 정보 호출-->
    <select id="myInfo" parameterType="string" resultType="member">
        SELECT USER_ID, USERNAME, EMAIL, NICKNAME, BIRTH, ID,PASSWORD,ROLE
        FROM USER
        WHERE USER_ID = #{user_id}
    </select>

<!--    내 정보 변경-->
    <update id="modifyInfo" parameterType="member">
        UPDATE USER
        SET PASSWORD = #{password}, EMAIL = #{email}, NICKNAME = #{nickname}
        WHERE ID = #{id}
    </update>


<!--    내가 쓴 글 리스트로 가져오기-->
    <select id="myWrite" parameterType="cri" resultType="board">
        SELECT C.ID, C.TITLE, C.WRITER_ID, C.CNT
        FROM COMMUNITY C
        JOIN USER U
            ON C.WRITER_ID = U.USER_ID
        WHERE C.WRITER_ID = #{userId}
        ORDER BY C.ID DESC
        LIMIT #{amount} OFFSET ${startNum}
    </select>

<!--    내가 쓴 글 리스트의 수 가져오기-->
    <select id="myWriteNum" parameterType="string" resultType="int">
        SELECT COUNT(C.ID)
        FROM COMMUNITY C
        JOIN USER U
            ON C.WRITER_ID = U.USER_ID
        WHERE C.WRITER_ID = #{user_id}
    </select>

<!--    내가 쓴 글에 달린 댓글 리스트로 가져오기-->
    <select id="comments" parameterType="cri" resultType="comment">
        SELECT COMMU.TITLE, C.CONTENT, C.WRITER_ID, C.DATE, C.ID, C.BOARD_ID
        FROM COMMENT C
        JOIN (
            SELECT CO.ID, CO.TITLE, CO.WRITER_ID, CO.CNT
            FROM COMMUNITY CO
            JOIN USER U ON CO.WRITER_ID = U.USER_ID
            WHERE CO.WRITER_ID = #{userId}
        ) AS COMMU
        ON C.BOARD_ID = COMMU.ID
        ORDER BY C.DATE DESC, C.ID DESC
        LIMIT #{amount} OFFSET #{startNum}
    </select>


<!--    내가 쓴 모든 글에 달린 댓글 총 수 가져오기-->
    <select id="getCommentsNum" parameterType="string" resultType="int">
        SELECT COUNT(C.ID)
        FROM COMMENT C
                 JOIN
             (SELECT CO.ID, CO.TITLE, CO.WRITER_ID, CO.CNT
              FROM COMMUNITY CO
                       JOIN USER U
                            ON CO.WRITER_ID = U.USER_ID
              WHERE CO.WRITER_ID = #{user_id}
             )AS COMMU
             ON C.BOARD_ID = COMMU.ID
        ORDER BY C.DATE DESC
    </select>

<!--    닉네임 중복 수 가져오기-->
    <select id="newNicknameCheck" parameterType="string" resultType="int">
        SELECT COUNT(NICKNAME)
        FROM USER
        WHERE NICKNAME = #{nickname}
    </select>

</mapper>