<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HelpQnaDao">
    <insert id="post" parameterType="board">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT IFNULL(MAX(ID), 1) FROM QA
        </selectKey>
        INSERT INTO QA(
        TITLE,
        CONTENT,
        SUBJECT,
        WRITER_ID
        ) VALUES(
            #{title},
            #{content},
            #{subject},
            (
            SELECT U.USER_ID
                FROM USER U
                WHERE U.NICKNAME = #{nickname}
            )
        )
    </insert>

    <update id="modify" parameterType="board">
        UPDATE QA
        SET
            TITLE = #{title},
            CONTENT = #{content},
            DATE = #{date}
        WHERE ID = #{id}
    </update>

    <select id="getBoardList" parameterType="map" resultType="board">
        SELECT Q.ID,
               Q.TITLE,
               Q.CONTENT,
               Q.WRITER_ID,
               U.NICKNAME,
               Q.DATE,
               Q.FDATE,
               Q.SUBJECT,
               Q.CNT
        FROM QA Q
        JOIN USER U
        ON Q.WRITER_ID = U.USER_ID
        -- mybatis의 동적 쿼리 사용
        WHERE 1=1
        <if test="search.searchKeyword != null and search.searchKeyword != ''">
            <if test="search.searchCondition == 'all'">
                AND (Q.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
                OR Q.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'title'">
                AND Q.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'content'">
                AND Q.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
        </if>
        ORDER BY Q.ID DESC
        LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM QA
            WHERE ID = #{id}
    </delete>

    <select id="getBoard" parameterType="int" resultType="board">
        SELECT Q.ID
             , Q.TITLE
             , Q.CONTENT
             , Q.WRITER_ID
             , U.NICKNAME
             , Q.DATE
             , Q.CNT
        FROM QA Q
                 JOIN USER U
                      ON Q.WRITER_ID = U.USER_ID
        WHERE Q.ID = #{id}
    </select>

    <update id="updateCnt" parameterType="int">
        UPDATE QA
        SET
            CNT = CNT + 1
        WHERE ID = #{id}
    </update>

    <select id="getBoardTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM QA Q
        JOIN USER U
        ON Q.WRITER_ID = U.USER_ID
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            <if test="searchCondition == 'all'">
                AND (
                F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                OR F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                )
            </if>
            <if test="searchCondition == 'title'">
                AND F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
            <if test="searchCondition == 'content'">
                AND F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
        </if>
    </select>

    <insert id="uploadFiles" parameterType="list">
        INSERT INTO QA_FILE (
        BOARD_ID,
        FILENAME,
        FILEORIGINNAME,
        FILEPATH,
        FILETYPE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.board_id},
            #{item.filename},
            #{item.fileoriginname},
            #{item.filepath},
            #{item.filetype}
            )
        </foreach>
    </insert>

    <select id="getFreeBoardFileList" parameterType="int" resultType="boardFile">
        SELECT ID
             , BOARD_ID
             , FILENAME
             , FILEORIGINNAME
             , FILEPATH
             , FILETYPE
        FROM QA_FILE
        WHERE BOARD_ID = #{id}
    </select>

    <delete id="deleteFiles" parameterType="int">
        DELETE FROM QA_FILE
        WHERE BOARD_ID = #{id}
    </delete>

    <insert id="postBoardFileOne" parameterType="boardFile">
        INSERT INTO QA_FILE(
            BOARD_ID,
            FILENAME,
            FILEORIGINNAME,
            FILEPATH,
            FILETYPE
        ) VALUES (
                     #{board_id},
                     #{filename},
                     #{fileoriginname},
                     #{filepath},
                     #{filetype}
                 )
    </insert>

    <update id="modifyBoardFileOne" parameterType="boardFile">
        UPDATE QA_FILE
        SET
            FILENAME = #{filename},
            FILEORIGINNAME = #{fileoriginname},
            FILEPATH = #{filepath},
            FILETYPE = #{filetype}
        WHERE ID = #{id}
          AND BOARD_ID = #{board_id}
    </update>

    <delete id="deleteBoardFileOne" parameterType="boardFile">
        DELETE FROM QA_FILE
        WHERE ID = #{id}
          AND BOARD_ID = #{board_id}
    </delete>

    <select id="getBoardFileList" parameterType="int" resultType="boardFile">
        SELECT ID
             , BOARD_ID
             , FILENAME
             , FILEORIGINNAME
             , FILEPATH
             , FILETYPE
        FROM QA_FILE
        WHERE BOARD_ID = #{id}
    </select>













</mapper>