<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RankDao">
    <select id="getRankList" parameterType="cri" resultType="rank">
        SELECT U.NICKNAME,
        R.COMMENT,
        R.DATE,
        R.TIME,
        R.GAME
        FROM RANKING R
        JOIN USER U
          ON R.RANK_ID = U.USER_ID
        <where>
            <if test="gametype != null and gametype != ''">
                R.GAME = #{gametype}
            </if>
        </where>
        ORDER BY R.TIME ASC
        LIMIT #{amount} OFFSET #{startNum}
    </select>

    <select id="getRankTotalCnt" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM RANKING R
        JOIN USER U
          ON R.RANK_ID = U.USER_ID
        WHERE R.GAME = #{gametype}
    </select>

<!--    <select id="getMyTopRank" parameterType="string" resultType="rank">-->
<!--        SELECT BB.*-->
<!--        FROM (-->
<!--                 SELECT DISTINCT AA.*-->
<!--                 FROM ranking RNK-->
<!--                          JOIN (-->
<!--                     SELECT R.ID-->
<!--                          , R.RANK_ID-->
<!--                          , U.NICKNAME-->
<!--                          , R.DATE-->
<!--                          , R.TIME-->
<!--                          , R.GAME AS GAMETYPE-->
<!--                          , R.COMMENT-->
<!--                          , ROW_NUMBER() OVER (PARTITION BY R.GAME ORDER BY R.TIME ASC) AS "rank"-->
<!--                     FROM RANKING R-->
<!--                              JOIN USER U-->
<!--                                   ON R.RANK_ID = U.USER_ID-->
<!--                     ORDER BY R.TIME) AA-->
<!--                               ON RNK.RANK_ID = AA.RANK_ID-->
<!--                 WHERE RNK.RANK_ID = #{userId}) BB-->
<!--                 JOIN (-->
<!--            SELECT R.GAME AS GAMETYPE-->
<!--                 , R.RANK_ID-->
<!--                 , MIN(R.TIME) AS "TIME"-->
<!--            FROM RANKING R-->
<!--            GROUP BY R.GAME, R.RANK_ID) CC-->
<!--                      ON BB.GAMETYPE = CC.GAMETYPE-->
<!--                          AND BB.TIME = CC.TIME;-->
<!--    </select>-->

    <select id="getMyTopRank" parameterType="string" resultType="rank">
        SELECT BB.*
        FROM (
            SELECT AA.*
            FROM (
                SELECT R.ID, R.RANK_ID, U.NICKNAME, R.DATE, R.TIME, R.GAME AS GAMETYPE, R.COMMENT, ROW_NUMBER() OVER (PARTITION BY R.GAME ORDER BY R.TIME ASC) AS "rank"
            FROM RANKING R
                JOIN USER U ON R.RANK_ID = U.USER_ID
                WHERE R.RANK_ID = #{userId}) AA
            WHERE AA.rank = 1) BB
        JOIN (
            SELECT R.GAME AS GAMETYPE, R.RANK_ID, MIN(R.TIME) AS "TIME"
            FROM RANKING R
            GROUP BY R.GAME, R.RANK_ID) CC
        ON BB.GAMETYPE = CC.GAMETYPE
        AND BB.TIME = CC.TIME;
    </select>

</mapper>